{% extends 'base.html.twig' %}

{% block title %}S'enregistrer
{% endblock %}

{% block body %}
	<section class="register">
		<div class="container login-register__container">
			<div class="login-register__form register__form">
				<h1>Se créer un compte</h1>

				{{ form_errors(registrationForm) }}

				{{ form_start(registrationForm) }}
				<div class="form-group">
					{{ form_row(registrationForm.firstname) }}
					{{ form_row(registrationForm.lastname) }}
					{{ form_row(registrationForm.email) }}
					{{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe :'
                    }) }}
				</div>
				<div class="link__form link__register">
					<p>Déjà inscrit(e) ?
						<a href="{{ path('app_login') }}">Se connecter</a>
					</p>
				</div>

				<div class="btn__login-register">
					<button type="submit" class="btn">S'enregistrer</button>
				</div>

				{{ form_end(registrationForm) }}
			</div>
		</div>
	</section>
{% endblock %}
