{% extends 'base.html.twig' %}

{% block title %}Liste de recettes
{% endblock %}

{% block body %}
	<section class="myrecipes">
		<div class="container">
			<h1>Bienvenue
				{{app.user.firstname}}
				sur votre liste de recettes</h1>

			<div class="intro__myrecipes">
				<p>C'est ici que vous retrouvez toutes vos recettes.</p>
				<p>Pour ajouter une recette, il vous suffit de cliquer sur le bouton "Ajouter une recette" et de remplir le formulaire.</p>
				<p>Chaque recette créée peut ensuite être consultée, modifiée ou supprimée.</p>
			</div>

			<a href="{{ path('app_recipe_new') }}">Ajouter une recette</a>

			<table
				class="table">
				{# <thead>
												<tr>
													<th>Nom</th>
													<th>Temps de cuisson</th>
													<th>Temps de préparation</th>
													<th>Nombre de parts</th>
													<th>Difficulté</th>
													<th>Catégorie</th>
													<th>Créée le</th>
													<th>Photo</th>
													<th>Actions</th>
												</tr>
											</thead> #}
				<tbody>
					{% for recipe in recipes %}
						<tr>
							<td>{{ recipe.title }}</td>
							<td>{{ recipe.difficulty }}</td>
							<td>{{ recipe.category }}</td>
							<td>{{ recipe.createdAt ? recipe.createdAt|date('d/m/Y') : '' }}</td>
							<td>
								<img src="{{ asset('uploads/recipe/'~ recipe.picture) }}" alt="{{recipe.title}}" class="recipe__picture-list">
							</td>
							<td class="actions">
								<a href="{{ path('app_recipe_show', {'id': recipe.id}) }}">{{ ux_icon('healthicons:magnifying-glass') }}</a>
								<a href="{{ path('app_recipe_edit', {'id': recipe.id}) }}">{{ ux_icon('line-md:edit') }}</a>
								<a href="{{ path('app_recipe_delete', {'id': recipe.id}) }}">{{ ux_icon('weui:delete-filled') }}</a>
							</td>
						</tr>
					{% else %}
						<h2>Vous n'avez pas encore de recette...</h2>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>
{% endblock %}
