<nav>
	<div class="container nav__container">
		<a href="{{ path('app_home') }}" class="nav__logo">
			YUMMY
		</a>
		<ul class="nav__menu">
			<li>
				<a href="{{ path('app_home') }}">Accueil</a>
			</li>
			<li>
				<a href="#">Recettes</a>
			</li>

			{% if app.user is not null %}
				<li>
					<a href="{{ path('app_myrecipes', {'id': app.user.id}) }}">Mes recettes</a>
				</li>
			{% endif %}

			<li>
				<a href="#contact">Contact</a>
			</li>
			
			{% if app.user is not null and app.user.hasRole("ROLE_ADMIN") %}
				<li>
					<a href="#">Administration</a>
				</li>
			{% endif %}
		</ul>
		<div>
			<ul class="nav__connection">
				{% if app.user is null %}
					<li>
						<a href="{{ path('app_login') }}">Se connecter</a>
					</li>
					<li>
						<a href="{{ path('app_register') }}">S'enregistrer</a>
					</li>
				{% endif %}

				{% if app.user is not null %}
					<li>
						<a href="{{ path('app_logout') }}">Se déconnecter</a>
					</li>
					<li>
						<img src="{{ app.user.avatar ?: asset('images/avatar_defaut.webp') }}" class="avatar__nav" alt="Avatar de {{ app.user.firstname }}"/>
					</li>
				{% endif %}
			</ul>
		</div>
		<div class="nav__buttons">
			<button class="nav__toggle-open">
				<i class="uil uil-bars"></i>
			</button>
			<button class="nav__toggle-close">
				<i class="uil uil-multiply"></i>
			</button>
		</div>
	</div>
</nav>
